.cards{
    width: 80%;
    margin: 0 10%;
    /* transition: 0.5s ease;
    cursor: pointer;
   */
}

.card  {
    
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 27%;
     margin: auto; 
     text-align: center; 
    margin-top: 10%;
    /* margin-right: 5%; */
    margin-bottom: 2%;
    font-family: arial;
    background-color:white;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ccc;
}
  .cards :hover{
      background-color: violet;
      
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
      
  }
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(71, 8, 143);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
    color: white;
  }
/*   
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card {
  ...
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  } */